
/* main STYLING */

.navagation-container nav ul {
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1em;
}

.navagation-container nav a {
  text-decoration: none;
  color: #78866B;
}

.navagation-container nav a:hover {
  text-decoration: underline;
}

.header-container {
    display: flex;          /* Arrange children in a row */
    align-items: center;    /* Vertically center them */
    gap: 10px;              /* Space between h1 and h2 */
}

.header-container h1 {
  font-size: 75px;
  color: #687169;
}

.header-container h2 {
  font-size: 24px;
  color: #828E84;
}

/* TABLE STYLING */

/* table headers */
thead th {
    font-family: Arial, sans-serif;
    background-color: #78866B;
    color: white;
    padding: 12px;
    text-align: left;
}

/* table cells */
tbody td {
    font-family: Arial, sans-serif;
    padding: 10px;
    border-bottom: 1px solid #78866B;
}

/* striping for rows */
tbody tr:nth-child(odd) {
    background-color: #D0D9CD;
}
tbody tr:nth-child(even) {
    background-color: #c4cebc;
}


/* rounded corners */
table {
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

tbody td, thead th {
    text-align: center;
}

/* ALL STYLING */

body {
    background-color: #dddddd; 
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: #333;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.tournament h1 {
	color: blueviolet;
}

table {
    border-collapse: collapse; /* merge borders */
    width: 50%;               /* full width */
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;       /* space after table */
}