<table border="1">
    <thead>
        <tr>
            <th>matchTeamsID</th>
            <th>matchID</th>
            <th>team1_teamID</th>
            <th>team2_teamID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each matchTeams}}
        <tr>
            <td>{{matchTeamsID}}</td>
            <td>{{matchID}}</td>
            <td>{{team1_teamID}}</td>
            <td>{{team2_teamID}}</td>
            <td>
                <div class="delete-button">
                <button type="button">Delete</button>
                </div>
            </td> 
        </tr>
        {{/each}}
    </tbody>
</table>

    <body>
        <button type="button">Add New</button>
    </body>