<table border="1">
    <thead>
        <tr>
            <th>teamID</th>
            <th>teamName</th>
            <th>region</th>
            <th>playerCount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each teams}}
        <tr>
            <td>{{teamID}}</td>
            <td>{{teamName}}</td>
            <td>{{region}}</td>
            <td>{{playerCount}}</td>
            <td>
                <div class="delete-button">
                <button type="button">Delete</button>
                </div>
            </td> 
        </tr>
        {{/each}}
    </tbody>
</table>

    <body>
        <button type="button">Add New</button>
    </body>