<table border="1">
    <thead>
        <tr>
            <th>tournamentMatchesID</th>
            <th>tournamentID</th>
            <th>matchID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each tournamentMatches}}
        <tr>
            <td>{{tournamentMatchesID}}</td>
            <td>{{tournamentID}}</td>
            <td>{{matchID}}</td>
            <td>
                <div class="delete-button">
                <button type="button">Delete</button>
                </div>
            </td> 
        </tr>
        {{/each}}
    </tbody>
</table>

    <body>
        <button type="button">Add New</button>
    </body>
