<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="style" href="public/style.css">
        <meta charset="UTF-8">
        <title>Tournament App</title>
        <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header-container">
        <h1>Tourna</h1>
        <h2> - A tournament helper utility</h2>
    </div>
    <div class="navagation-container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/games">Games</a>
                    <li><a href="/matches">Matches</a>
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/tournaments">Tournaments</a></li>
                    <li><a href="/matchTeams">matchTeams</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        {{{body}}}
    </main>
</body>
</html>
