<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="style" href="public/style.css">
        <meta charset="UTF-8">
        <title>Tournament App</title>
        <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/matches">Matches</a>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>
